h1 {
  margin: 20px 0 10px;
  color: #1c2638;
  font-family: "Lora", serif;
}

.accountLink {
  display: flex;
  align-items: center;
  color: #1c2638;
  font-family: "Lora", serif;
}

.link-to-login {
  text-decoration: none;
  padding-left: 10px;
  font-weight: bold;
}

.formCotainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formControl {
  background-color: #f0f7f5;
  width: 50%;
  max-width: 450px;
  padding: 45px 60px;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.uiForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 380px;
}

.formFeildControler {
  width: 100%;
}

.formFeild {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formFeild input {
  border: 1px solid grey;
  padding: 15px;
  border-radius: 10px;
}

.formFeild input::placeholder {
  color: #1c2638;
}

.formFeild input :focus {
  outline: none;
}

.formFeild label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

.errorMsg {
  color: #9b222b;
  margin: 0;
  align-self: flex-start;
  padding: 10px 0 0 15px;
  font-size: 0.9rem;
}

.msgOK {
  color: green;
  margin-top: 15px;
  font-family: "Lora", serif;
}
